html{
    position:relative; 
    min-height: 100%;
}
html,body{
    margin:0;
    padding:0;
}
xmp{
    display: inline;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    float: left;
    background:rgb(235, 235, 235);
    vertical-align: middle;
}
.header img{
    height: 90%;
    margin: 5px;
}
.pageContentWrapper{
    margin: 10px;
    margin-bottom:100px;
} 
.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:rgb(235, 235, 235);
}